#header {
  height: 500px;
  background: url("../assets/img/header.jpg");
  background-position-y: 20%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: rgb(100, 100, 100) 2px 2px;
}
